<form [formGroup]="formularioDatosPersonales">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title text-start">Solicitar presupuesto</h5>
            <div class="row align-items-center mt-3">
              <div class="col-md-3">
                <input type="text" class="form-control mb-2" placeholder="Nombre" />
              </div>
              <div class="col-md-3">
                <input type="number" class="form-control mb-2" placeholder="Teléfono" />
              </div>
              <div class="col-md-3">
                <input type="email" class="form-control mb-2" placeholder="E-mail" />
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">Solicitar presupuesto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
