<form [formGroup] = "formularioHome">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-5">
        <h1>Consigue la mejor calidad</h1>
      </div>    
    </div>    
      <div class="container mt-5">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="card mt-2">
              <div class="card-body d-flex flex-column flex-lg-row align-items-center">
                <h5 class="card-title m-2">Seo</h5>
                <h6 class="card-subtitle m-2">Programación de una web responsive completa</h6>
                <p class="card-text mx-5 my-4">{{precioSeo}}</p>
                <p class="mb-0 m-2">
                  <input type="checkbox" formControlName="seo" (change)="onChangeSeo($event)"> Añadir
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>    
     
      <div class="container mt-5">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="card mt-1">
              <div class="card-body d-flex flex-column flex-lg-row align-items-center">
                <h5 class="card-title m-2">Ads</h5>
                <h6 class="card-subtitle m-2">Programación de una web responsive completa</h6>
                <p class="card-text mx-5 my-4">{{precioAds}}</p>
                <p class="mb-0 m-2">
                  <input type="checkbox" formControlName="ads" (change)="onChangeAds($event)">Añadir
                </p>
              </div>
            </div>
          </div>
        </div>         
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="card mt-1">
            <div class="card-body d-flex flex-column flex-lg-row align-items-center">
              <h5 class="card-title m-2">web</h5>
              <h6 class="card-subtitle m-2">Programación de una web responsive completa</h6>
              <p class="card-text mx-5 my-4">{{precioWeb}}</p>
              <p class="mb-0 m-2"><input type="checkbox" formControlName="web" (change)="onChangeWeb($event)">Añadir</p>                                    
            </div>
            @if(formularioHome.get('web')?.value){
              <div class="row">
                <div class="col-12 d-flex justify-content-end">
                  <app-panel (cambioCoste)="actualizarPrecioTotal($event)"></app-panel>
                </div>            
              </div>
            }          
          </div>
        </div>    
      </div>
    </div>
     
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p>Precio presupuestado:</p>
        <p>{{precioTotal}}</p>
      </div>    
    </div>
  </div>
</form>
 
  
  
















