input[type="number"] {
  width: 40px; /* Ancho deseado */
  height: 20px; /* Alto deseado */
  font-size: 12px; /* Tamaño de fuente deseado */
}

 /* Oculta la flecha para aumentar en el elemento de entrada de número */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Oculta la flecha para disminuir en el elemento de entrada de número */
 input[type="number"] {
   -moz-appearance: textfield;
   appearance: none;
 }