input[type="number"] {
  width: 40px; /* Ancho deseado */
  height: 20px; /* Alto deseado */
  font-size: 12px; /* Tamaño de fuente deseado */
}

 /* Oculta la flecha para aumentar en el elemento de entrada de número */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Oculta la flecha para disminuir en el elemento de entrada de número */
 input[type="number"] {
   -moz-appearance: textfield;
   appearance: none;
 }

 .btn-redondo{
  width: var(--btn-size, 0.9em);
  height: var(--btn-size, 0.9em);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0.1px solid black;
}
 